h1, p {
  font-family: Lato;
}

table {
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #FF4136 ;
  color:white;
  font-weight: bold;
}


th,tr{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color:black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 1px solid black;
  position: fixed;
  top:10%;
  left:50%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.whole{
  overflow-y: scroll;
  height:150px;
  border: 1px solid black;
}

.name{
  font-weight: bold;
}

.uname{
  color: grey;
}